<mat-card class="card">
  <mat-card-header>{{character.name}}</mat-card-header>
  <img mat-card-image *ngIf="character.image" [src]="character.image"/>
  <mat-card-content>
    <ol>
      <li *ngFor="let film of character.films">{{film}}</li>
    </ol>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            color="primary"
            [routerLink]="['/edit', character._id]">
        <i class="material-icons">edit</i>
        edit
    </button>
    <button mat-button
            color="accent" 
            matTooltip="With great power comes great responsibility!"
            [matTooltipPosition]="position"
            (click)="delete(character._id)">
        <i class="material-icons">delete</i>
        delete
    </button>
  </mat-card-actions>
</mat-card>
